.main {
    height: 100vh;
}

.mainPage {
    width: calc(100% - 4em);
}

/* Side Bar */
.topSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBar {
    width: 4em;
}

.sideButton {
    align-items: center;
}

.displayText {
    display: none;
    color: white;
    padding-left: 2em;
    font-size: 1.2em;
}

/* MEDIA QUERY */

@media screen and (min-width: 768px) {
    .sideBar {
        width: 10em;
    }

    .mainPage {
        width: calc(100% - 10em);
    }

    .displayText {
        display: inline;
    }
}