.main {
    height: 100vh;
}

.mainPage {
    width: calc(100% - 4em);
}

/* Side Bar */
.topSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botSide {
    text-align: center;
}

.sideBar {
    width: 4em;
    background-image: url(../img/img/sidebar-bg.png);
    background-color: #061E34;
}

.sideButton {
    margin-bottom: 0.5em;
}

.displayText {
    display: none;
    color: white;
    padding-left: 2em;
    font-size: 1.2em;
}

.logoSmall {
    max-width: 2em;
}

.logoBig {
    display: none;
    max-width: 6em;
}

    /* Search */

#searchNav {
    background: #E5E5E5;
    border: none;
}

/* Blue Zone */

.boolPill {
    background: #33303057;
    font-size: 0.8em;
    padding: 0.2em 0.9em;
    margin: 0.1em;
    white-space: nowrap;
}

.showPill {
    display: none;
}

#borderWhite {
    border: 1px solid white;
}

/* MAIN */

.classAvatar {
    width: 2em;
}

.borderPen {
    border: 2px solid #6c757d;
    border-radius: 0.3em;
    padding: 0.2em 0.3em;
    text-decoration: none;
}

.borderTrash {
    padding: 0.1em 0.4em;
    text-decoration: none;
    border: 2px solid #6c757d;
    border-radius: 0.3em;
    margin-top: 0.3em;
}

.actionContainer {
    width: 1em;
    margin-top: 9px;
}

.pTable {
    padding-bottom: 1.4em;
}

/* SIDE BAR */

.sideBar a {
    text-decoration: none;
}

/* MEDIA QUERY */

@media screen and (min-width: 768px) {
    .sideBar {
        width: 10em;
    }

    .mainPage {
        width: calc(100% - 10em);
    }

    .displayText {
        display: inline;
    }

    .newStudent {
        order: 3;
    }

    .logoSmall,
    .hidePill {
        display: none;
    }

    .logoBig,
    .showPill {
        display: inline-block;
    }

    .barStatsIcon {
        padding-right: 0.6em;
    }

}